In [1]:
import yfinance as yf
import pandas as pd
# Sure, here's an example Python code that backtests a trading strategy based on the conditions you specified:
#
# ```python
import ccxt
import pandas as pd

# Initialize Binance exchange object
exchange = ccxt.binance()

# Define the symbol and timeframe
symbol = 'BTC/USDT'
timeframe = '1m'

# Load the last year of price data
ohlcv = exchange.fetch_ohlcv(symbol, timeframe, since=exchange.milliseconds()-31536000000, limit=525600)

# Convert the price data to a Pandas DataFrame
df = pd.DataFrame(ohlcv, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume'])

# Calculate the high tops for each day
df['day'] = pd.to_datetime(df['timestamp'], unit='ms').dt.date
df_highs = df.groupby('day')['high'].max()

df_highs

day
2022-07-28    24199.72
Name: high, dtype: float64

In [2]:
df

,timestamp,open,high,low,close,volume,day
0,1658989440000,23166.31,23174.86,23162.83,23167.02,60.26331,2022-07-28
1,1658989500000,23165.66,23168.32,23152.02,23160.43,77.72502,2022-07-28
2,1658989560000,23160.43,23161.82,23145.08,23146.74,57.99201,2022-07-28
3,1658989620000,23147.57,23150.00,23141.00,23147.21,97.99377,2022-07-28
4,1658989680000,23147.21,23150.00,23139.50,23142.74,84.94257,2022-07-28
...,...,...,...,...,...,...,...
995,1659049140000,23978.68,23980.21,23951.23,23961.92,104.34349,2022-07-28
996,1659049200000,23961.92,23969.81,23952.28,23960.24,70.88366,2022-07-28
997,1659049260000,23960.24,23981.74,23957.67,23977.45,73.65301,2022-07-28
998,1659049320000,23977.45,23979.93,23945.00,23947.03,80.98371,2022-07-28
999,1659049380000,23947.55,23954.92,23940.15,23948.97,61.92290,2022-07-28